*{
    box-sizing: border-box;
   
}
html{
    font-size:12px;
    overflow-x: hidden;
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding:0px;
   margin:0px;
  /* display: flex;
  justify-content:space-around;
  align-items:center; */

}
body
{
    display: flex;
  justify-content:center; 
  align-items:center;
  margin-top: 7%;

}
.shipping_img
{
    width:600px;
    height:450px;
}
.cart_img
{
    width:550px;
    height:450px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 60px;
    background-image: linear-gradient(60deg, rgba(240, 78, 249, 0.238) , rgba(255, 234, 0, 0.366));
}
.sign_up
{
    display: flex;
    justify-content:center; 
  align-items:center;
    width: 1000px;
    /* border: 2px solid black; */
    height: 550px;
    /* background-image: linear-gradient(40deg, rgba(240, 78, 249, 0.138) , rgba(255, 234, 0, 0.166)); */
    border-bottom-left-radius: 40px;
    border-top-right-radius: 60px;
}
.heading
{
    font-size: 15px;
    color: rgba(78, 175, 249, 0.845) ;
    text-shadow: 2px #0033ff0c;
}

#email,.design{
    width: 200px;
    height:30px;
    border: 2px solid pink;
    border-radius: 5px;
}
#submit{
    width: 200px;
    height:30px;
    border: 2px solid pink;
    border-radius: 5px;
    background-color: rgba(42, 141, 222, 0.618);
    color: white;
}
.inputBox
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
}
